
  

.tr4-spacing td{
  text-align: center; /* Center the text within each td */
  padding: 5px 10px;  /* Add padding for spacing between cells */
  border: 1px solid #ddd; /* border for visual separation */
}


/*   
.tr4-spacing{
	padding-right: 25px;
	margin-right: 20px;
  }

  

  .pos-spacing {
	padding-right: 0px;
	margin-right: 0px;
  }
  .varenr-spacing {
	padding-right: 0px;
	margin-right: 0px;
  }
  .antal-spacing {
	padding-right: 0px;
	
  }
  .enhed-spacing {
	padding-right: 0px;
	margin-right: 0px;
	
  }

  .besk-spacing {
	padding-right: 0px;
	margin-right: 0px;
  }
  .price-spacing {
	padding-right: 0px;	
	margin-right: 0px;
  }
  .rabat-spacing {
	padding-right: 0px;
	margin-right: 0px;
  }
 */
