.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  /* .table th, */
  
  /* .table th, td {
	padding: 0.5rem; /* Adjust cell padding as needed 
	vertical-align: top; /* Default Bootstrap vertical alignment 
	border: 1px solid #ddd; Set border color and thickness
  } */
  
  /* Styles for table with visible inner column borders */
  .table.with-inner-borders {
	border-collapse: separate; /* Ensure borders are shown for each cell */
	border-radius: 1px; 
	width: 50%; /* Adjust width as needed */
	margin: 0 auto; /* Centers the table horizontally */
  }
  


  /* .table  td {
	border: 1px solid black;
	border-radius: 10px;
  } */

  .table td {
	padding: 0.5rem; /* Adjust cell padding as needed */
	vertical-align: top; 
	/* border: 1px solid #ddd; Set border color and thickness */
	border: 1px solid #aaaaff;
	border-radius: 4px;
  }

  .table tr.top-row {
	text-align: center;
	font-weight: bold;
  }


.table2 {
  border-collapse: collapse;
  margin: 1em;
}

.table2 td, .table2 th {
  padding: .3em 1.3em;
}

.table2 tr {
  border-radius: 3px;
  border: 1px #ddd solid;
}

.table2 tr.clickable {
  cursor: pointer;
}

html body table tbody tr td table.table2 tbody tr:hover {
  background-color: #f1f1f1;
}

.table2 tbody tr:nth-child(2n) {background: #f6f6f6}
.table2 tbody tr:nth-child(4n) {background: #FFF}

.table tr.top-row {
  text-align: center;
  background: #FFF !important;
  font-weight: bold;
}
