bilag/*
*temp/*
bordplaner/temp/*
logolib/*
nedlagte regnskaber/*
nedlagte_regnskaber/*
certs/*
opret/*
*/opret/*
includes/connect.php

phpmailer/*
*/phpmailer/*
includes/vendor/

bordplaner/bordplan_*
debitor/pos_print/*_*.php
helm/saldi/charts

bilag/
includes/connect.php
includes/temp/
index/ch/

/var/www/html/develop/temp/
/var/www/html/develop/docker/
/var/www/html/develop/doc/
doc/
docker/
includes/connect.php
#html/includes/oldDesign/
kreditor/betalinger_old.php
lager/labelprint_includes/newlabel.php
lager/labelprint_includes/oldlabel.php
logolib/

paperpdf/
temp/
utils/
bilag/
logolib/
vouchers/
/temp/
/docker/
/doc/
doc/
docker/
SaldiAPI/

