openapi: 3.0.3
info:
  title: SALDI REST API
  description: |
    A comprehensive REST API for managing orders, customers, products, and inventory.
    
    ## Authentication
    All endpoints require authentication via headers:
    - `x-db`: Database identifier
    - `x-saldiuser`: User identifier
    - `Authorization`: API key for authentication
    
  version: 1.0.0
  contact:
    name: API Support
servers:
  - url: https://ssl12.saldi.dk/pblm/restapi/endpoints/v1
    description: Local development server
  - url: https://saldi.dk/v1
    description: Production server

security:
  - DatabaseAuth: []
    UserAuth: []
    ApiKeyAuth: []

paths:
  # Debitor Orders
  /debitor/orders/:
    get:
      tags:
        - Debitor Orders
      summary: Get all debitor orders
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: orderBy
          in: query
          schema:
            type: string
            default: ordrenr
        - name: orderDirection
          in: query
          schema:
            type: string
            enum: [ASC, DESC]
            default: ASC
        - name: fromDate
          in: query
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
              examples:
                all_orders:
                  summary: All Debitor Orders
                  description: Get all debitor orders with English field names
                  value:
                    success: true
                    data:
                      - id: 1001
                        accountId: 201
                        companyName: "ACME Corporation"
                        phone: "+45 12345678"
                        email: "contact@acme.com"
                        vatRate: 25.0
                        address:
                          addr1: "Main Street 123"
                          addr2: "Suite 456"
                          zipcode: "1234"
                          city: "Copenhagen"
                          country: "Denmark"
                        delivery:
                          name: "ACME Warehouse"
                          addr1: "Industrial Road 789"
                          addr2: "Building B"
                          zipcode: "5678"
                          city: "Aarhus"
                          country: "Denmark"
                        ean: "1234567890123"
                        cvr: "12345678"
                        orderDate: "2025-06-20"
                        invoiceDate: "2025-06-21"
                        notes: "Urgent delivery required"
                        paid: false
                        paymentInfo:
                          paymentTerms: "Net 30"
                          paymentDays: 30
                        economic:
                          sum: 1250.00
                          costPrice: 1000.00
                          vat: 250.00
                          currency: "DKK"
                          currencyRate: 1.0
                        accountNumber: "1000"
                        reference: "user123"
                        status: 0
                        orderNo: 2025001
                      - id: 1002
                        accountId: 202
                        companyName: "TechCorp Ltd"
                        phone: "+45 87654321"
                        email: "orders@techcorp.com"
                        vatRate: 25.0
                        address:
                          addr1: "Tech Street 456"
                          addr2: ""
                          zipcode: "2345"
                          city: "Odense"
                          country: "Denmark"
                        delivery:
                          name: "TechCorp Office"
                          addr1: "Tech Street 456"
                          addr2: ""
                          zipcode: "2345"
                          city: "Odense"
                          country: "Denmark"
                        ean: ""
                        cvr: "87654321"
                        orderDate: "2025-06-19"
                        invoiceDate: null
                        notes: ""
                        paid: false
                        paymentInfo:
                          paymentTerms: "Net 14"
                          paymentDays: 14
                        economic:
                          sum: 750.00
                          costPrice: 600.00
                          vat: 150.00
                          currency: "DKK"
                          currencyRate: 1.0
                        accountNumber: "1001"
                        reference: "user456"
                        status: 0
                        orderNo: 2025002
    post:
      tags:
        - Debitor Orders
      summary: Create a new debitor order
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
            examples:
              basic_debitor_order_new_customer:
                summary: Basic Order (New Customer)
                description: Create a debitor order for a new customer using English field names
                value:
                  companyName: "ACME Corporation"
                  phone: "+45 12345678"
                  email: "contact@acme.com"
                  vatRate: 25.0
                  sum: 1250.00
                  costPrice: 1000.00
                  vat: 250.00
                  currency: "DKK"
                  paymentTerms: "netto"
                  paymentDays: 30
                  address1: "Main Street 123"
                  address2: "Suite 456"
                  postalCode: "1234"
                  city: "Copenhagen"
                  country: "Denmark"
                  deliveryName: "ACME Warehouse"
                  deliveryAddress1: "Industrial Road 789"
                  deliveryAddress2: "Building B"
                  deliveryPostalCode: "5678"
                  deliveryCity: "Aarhus"
                  deliveryCountry: "Denmark"
                  ean: "1234567890123"
                  cvrNo: "12345678"
                  orderDate: "2025-07-31"
                  invoiceDate: "2025-07-31"
                  notes: "Urgent delivery required"
                  paid: false
                  customerGroup: 1
                  type: "DO"
              basic_debitor_order_existing_customer:
                summary: Basic Order (Existing Customer)
                description: Create a debitor order for an existing customer using account ID
                value:
                  accountId: 201
                  vatRate: 25.0
                  sum: 1250.00
                  costPrice: 1000.00
                  vat: 250.00
                  orderDate: "2025-07-31"
                  notes: "Rush order"
              detailed_debitor_order:
                summary: Detailed Order with Full Information
                description: Create a debitor order with all available fields
                value:
                  companyName: "ACME Corporation"
                  phone: "+45 12345678"
                  email: "contact@acme.com"
                  vatRate: 25.0
                  sum: 1250.00
                  costPrice: 1000.00
                  vat: 250.00
                  currency: "DKK"
                  paymentTerms: "netto"
                  paymentDays: 30
                  address1: "Main Street 123"
                  address2: "Suite 456"
                  postalCode: "1234"
                  city: "Copenhagen"
                  country: "Denmark"
                  deliveryName: "ACME Warehouse"
                  deliveryAddress1: "Industrial Road 789"
                  deliveryAddress2: "Building B"
                  deliveryPostalCode: "5678"
                  deliveryCity: "Aarhus"
                  deliveryCountry: "Denmark"
                  ean: "1234567890123"
                  cvrNo: "12345678"
                  orderDate: "2025-07-31"
                  invoiceDate: "2025-07-31"
                  notes: "Urgent delivery required"
                  paid: false
                  customerGroup: 1
                  type: "DO"
              danish_field_names_example:
                summary: Using Danish Field Names (Backward Compatibility)
                description: Example using Danish field names for backward compatibility
                value:
                  firmanavn: "ACME Corporation"
                  telefon: "+45 12345678"
                  email: "contact@acme.com"
                  momssats: 25.0
                  sum: 1250.00
                  kostpris: 1000.00
                  moms: 250.00
                  ordredate: "2025-07-31"
                  art: "DO"
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Debitor order created successfully"
                  data:
                    $ref: '#/components/schemas/OrderResponse'
              examples:
                created_order:
                  summary: Created Debitor Order
                  value:
                    success: true
                    message: "Debitor order created successfully"
                    data:
                      id: 1001
                      accountId: 201
                      companyName: "ACME Corporation"
                      phone: "+45 12345678"
                      email: "contact@acme.com"
                      vatRate: 25.0
                      address:
                        addr1: "Main Street 123"
                        addr2: "Suite 456"
                        zipcode: "1234"
                        city: "Copenhagen"
                        country: "Denmark"
                      delivery:
                        name: "ACME Warehouse"
                        addr1: "Industrial Road 789"
                        addr2: "Building B"
                        zipcode: "5678"
                        city: "Aarhus"
                        country: "Denmark"
                      ean: "1234567890123"
                      cvr: "12345678"
                      orderDate: "2025-06-20"
                      invoiceDate: "2025-06-21"
                      notes: "Urgent delivery required"
                      paid: false
                      paymentInfo:
                        paymentTerms: "Net 30"
                        paymentDays: 30
                      economic:
                        sum: 1250.00
                        costPrice: 1000.00
                        vat: 250.00
                        currency: "DKK"
                        currencyRate: 1.0
                      accountNumber: "1000"
                      reference: "user123"
                      status: 0
                      orderNo: 2025001

  /debitor/orders/{id}:
    get:
      tags:
        - Debitor Orders
      summary: Get a specific debitor order
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/OrderResponse'
              examples:
                single_order:
                  summary: Single Debitor Order
                  value:
                    success: true
                    data:
                      id: 1001
                      accountId: 201
                      companyName: "ACME Corporation"
                      phone: "+45 12345678"
                      email: "contact@acme.com"
                      vatRate: 25.0
                      address:
                        addr1: "Main Street 123"
                        addr2: "Suite 456"
                        zipcode: "1234"
                        city: "Copenhagen"
                        country: "Denmark"
                      delivery:
                        name: "ACME Warehouse"
                        addr1: "Industrial Road 789"
                        addr2: "Building B"
                        zipcode: "5678"
                        city: "Aarhus"
                        country: "Denmark"
                      ean: "1234567890123"
                      cvr: "12345678"
                      orderDate: "2025-06-20"
                      invoiceDate: "2025-06-21"
                      notes: "Urgent delivery required"
                      paid: false
                      paymentInfo:
                        paymentTerms: "Net 30"
                        paymentDays: 30
                      economic:
                        sum: 1250.00
                        costPrice: 1000.00
                        vat: 250.00
                        currency: "DKK"
                        currencyRate: 1.0
                      accountNumber: "1000"
                      reference: "user123"
                      status: 0
                      orderNo: 2025001
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Creditor Orders
  /creditor/orders/:
    get:
      tags:
        - Creditor Orders
      summary: Get all creditor orders
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: orderBy
          in: query
          schema:
            type: string
            default: ordrenr
        - name: orderDirection
          in: query
          schema:
            type: string
            enum: [ASC, DESC]
            default: ASC
        - name: fromDate
          in: query
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of creditor orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
              examples:
                all_creditor_orders:
                  summary: All Creditor Orders
                  description: Get all creditor orders with English field names
                  value:
                    success: true
                    data:
                      - id: 2001
                        accountId: 301
                        companyName: "Supplier ABC"
                        phone: "+45 11223344"
                        email: "orders@supplierabc.com"
                        vatRate: 25.0
                        address:
                          addr1: "Supplier Street 789"
                          addr2: ""
                          zipcode: "3456"
                          city: "Copenhagen"
                          country: "Denmark"
                        delivery:
                          name: "Our Warehouse"
                          addr1: "Warehouse Road 123"
                          addr2: "Gate A"
                          zipcode: "1234"
                          city: "Copenhagen"
                          country: "Denmark"
                        ean: ""
                        cvr: "11223344"
                        orderDate: "2025-06-18"
                        invoiceDate: null
                        notes: "Standard delivery"
                        paid: false
                        paymentInfo:
                          paymentTerms: "Net 30"
                          paymentDays: 30
                        economic:
                          sum: 2500.00
                          costPrice: 2000.00
                          vat: 500.00
                          currency: "DKK"
                          currencyRate: 1.0
                        accountNumber: "4000"
                        reference: "buyer123"
                        status: 0
                        orderNo: 2025050
    post:
      tags:
        - Creditor Orders
      summary: Create a new creditor order
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
            examples:
              basic_creditor_order_new_supplier:
                summary: Basic Order (New Supplier)
                description: Create a creditor order for a new supplier using English field names
                value:
                  companyName: "Supplier ABC"
                  phone: "+45 11223344"
                  email: "orders@supplierabc.com"
                  vatRate: 25.0
                  sum: 2500.00
                  costPrice: 2000.00
                  vat: 500.00
                  currency: "DKK"
                  paymentTerms: "netto"
                  paymentDays: 30
                  address1: "Supplier Street 789"
                  address2: ""
                  postalCode: "3456"
                  city: "Copenhagen"
                  country: "Denmark"
                  deliveryName: "Our Warehouse"
                  deliveryAddress1: "Warehouse Road 123"
                  deliveryAddress2: "Gate A"
                  deliveryPostalCode: "1234"
                  deliveryCity: "Copenhagen"
                  deliveryCountry: "Denmark"
                  ean: ""
                  cvrNo: "11223344"
                  orderDate: "2025-07-31"
                  invoiceDate: null
                  notes: "Standard delivery"
                  paid: false
                  type: "KO"
                  customerGroup: 1
              basic_creditor_order_existing_supplier:
                summary: Basic Order (Existing Supplier)
                description: Create a creditor order for an existing supplier using account ID
                value:
                  accountId: 301
                  vatRate: 25.0
                  sum: 2500.00
                  costPrice: 2000.00
                  vat: 500.00
                  type: "KO"
                  orderDate: "2025-07-31"
                  notes: "Monthly supply order"
              detailed_creditor_order:
                summary: Detailed Order with Full Information
                description: Create a creditor order with all available fields
                value:
                  companyName: "Supplier ABC"
                  phone: "+45 11223344"
                  email: "orders@supplierabc.com"
                  vatRate: 25.0
                  sum: 2500.00
                  costPrice: 2000.00
                  vat: 500.00
                  currency: "DKK"
                  paymentTerms: "netto"
                  paymentDays: 30
                  address1: "Supplier Street 789"
                  address2: ""
                  postalCode: "3456"
                  city: "Copenhagen"
                  country: "Denmark"
                  deliveryName: "Our Warehouse"
                  deliveryAddress1: "Warehouse Road 123"
                  deliveryAddress2: "Gate A"
                  deliveryPostalCode: "1234"
                  deliveryCity: "Copenhagen"
                  deliveryCountry: "Denmark"
                  ean: ""
                  cvrNo: "11223344"
                  orderDate: "2025-07-31"
                  invoiceDate: null
                  notes: "Standard delivery"
                  paid: false
                  type: "KO"
                  customerGroup: 1
              danish_field_names_example:
                summary: Using Danish Field Names (Backward Compatibility)
                description: Example using Danish field names for backward compatibility
                value:
                  firmanavn: "Supplier ABC"
                  telefon: "+45 11223344"
                  email: "orders@supplierabc.com"
                  momssats: 25.0
                  sum: 2500.00
                  kostpris: 2000.00
                  moms: 500.00
                  ordredate: "2025-07-31"
                  art: "KO"
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Creditor order created successfully"
                  data:
                    $ref: '#/components/schemas/OrderResponse'
              examples:
                created_order:
                  summary: Created Creditor Order
                  value:
                    success: true
                    message: "Creditor order created successfully"
                    data:
                      id: 2001
                      accountId: 301
                      companyName: "Supplier ABC"
                      phone: "+45 11223344"
                      email: "orders@supplierabc.com"
                      vatRate: 25.0
                      address:
                        addr1: "Supplier Street 789"
                        addr2: ""
                        zipcode: "3456"
                        city: "Copenhagen"
                        country: "Denmark"
                      delivery:
                        name: "Our Warehouse"
                        addr1: "Warehouse Road 123"
                        addr2: "Gate A"
                        zipcode: "1234"
                        city: "Copenhagen"
                        country: "Denmark"
                      ean: ""
                      cvr: "11223344"
                      orderDate: "2025-06-18"
                      invoiceDate: null
                      notes: "Standard delivery"
                      paid: false
                      paymentInfo:
                        paymentTerms: "Net 30"
                        paymentDays: 30
                      economic:
                        sum: 2500.00
                        costPrice: 2000.00
                        vat: 500.00
                        currency: "DKK"
                        currencyRate: 1.0
                      accountNumber: "4000"
                      reference: "buyer123"
                      status: 0
                      orderNo: 2025050
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /creditor/orders/{id}:
    get:
      tags:
        - Creditor Orders
      summary: Get a specific creditor order
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/OrderResponse'
              examples:
                single_creditor_order:
                  summary: Single Creditor Order
                  value:
                    success: true
                    data:
                      id: 2001
                      accountId: 301
                      companyName: "Supplier ABC"
                      phone: "+45 11223344"
                      email: "orders@supplierabc.com"
                      vatRate: 25.0
                      address:
                        addr1: "Supplier Street 789"
                        addr2: ""
                        zipcode: "3456"
                        city: "Copenhagen"
                        country: "Denmark"
                      delivery:
                        name: "Our Warehouse"
                        addr1: "Warehouse Road 123"
                        addr2: "Gate A"
                        zipcode: "1234"
                        city: "Copenhagen"
                        country: "Denmark"
                      ean: ""
                      cvr: "11223344"
                      orderDate: "2025-06-18"
                      invoiceDate: null
                      notes: "Standard delivery"
                      paid: false
                      paymentInfo:
                        paymentTerms: "Net 30"
                        paymentDays: 30
                      economic:
                        sum: 2500.00
                        costPrice: 2000.00
                        vat: 500.00
                        currency: "DKK"
                        currencyRate: 1.0
                      accountNumber: "4000"
                      reference: "buyer123"
                      status: 0
                      orderNo: 2025050
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Order Lines - Debitor
  /debitor/orderlines/:
    get:
      tags:
        - Order Lines
      summary: Get order lines
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: order_id
          in: query
          required: true
          schema:
            type: integer
          description: Order ID to get lines for
      responses:
        '200':
          description: List of order lines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderLineListResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Order Lines
      summary: Create a new order line
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderLineRequest'
      responses:
        '201':
          description: Order line created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderLineResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /debitor/orderlines/{id}:
    get:
      tags:
        - Order Lines
      summary: Get a specific order line
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Order line details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderLineResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Order Lines - Creditor
  /creditor/orderlines/:
    get:
      tags:
        - Order Lines
      summary: Get creditor order lines
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: order_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of order lines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderLineListResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Order Lines
      summary: Create a new creditor order line
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderLineRequest'
      responses:
        '201':
          description: Order line created successfully
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Customers (Debitors)
  /debitor/customers/:
    get:
      tags:
        - Customers
      summary: Get all customers
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerListResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Customers
      summary: Create a new customer
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '201':
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /debitor/customers/{id}:
    get:
      tags:
        - Customers
      summary: Get a specific customer
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Customers
      summary: Update a customer
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
      responses:
        '200':
          description: Customer updated successfully
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Customers
      summary: Delete a customer
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Customer deleted successfully
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Creditors
  /creditor/creditors/:
    get:
      tags:
        - Creditors
      summary: Get all creditors
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '200':
          description: List of creditors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerListResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Creditors
      summary: Create a new creditor
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '201':
          description: Creditor created successfully
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /creditor/creditors/{id}:
    get:
      tags:
        - Creditors
      summary: Get a specific creditor
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Creditor details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Creditors
      summary: Update a creditor
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
      responses:
        '200':
          description: Creditor updated successfully
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Creditors
      summary: Delete a creditor
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Creditor deleted successfully
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Products
  /products/:
    get:
      tags:
        - Products
      summary: Get all products
      description: |
        Get all products with optional filtering and sorting. The API accepts both English and Danish field names for backward compatibility.
        
        **English Field Names:**
        - `sku` - Product SKU/number
        - `barcode` - Product barcode
        - `description` - Product description
        - `salesPrice` - Sales price
        - `costPrice` - Cost price
        - `group` - Product group ID
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: orderBy
          in: query
          schema:
            type: string
            default: id
            enum: [id, sku, description, salesPrice, costPrice, group]
          description: Field to order by
          example: "sku"
        - name: orderDirection
          in: query
          schema:
            type: string
            enum: [ASC, DESC]
            default: ASC
          description: Sort direction
        - name: field
          in: query
          schema:
            type: string
            enum: [id, sku, barcode, description, salesPrice, costPrice, group]
          description: Field to filter by
          example: "description"
        - name: value
          in: query
          schema:
            type: string
          description: Value to filter by
          example: "Premium"
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
            minimum: 1
          description: Maximum number of products to return
          example: 20
      responses:
        '200':
          description: List of products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
              examples:
                all_products:
                  summary: All Products
                  description: Get all products with basic information
                  value:
                    success: true
                    data:
                      - id: 301
                        sku: "PROD001"
                        barcode: "1234567890123"
                        description: "Premium Product"
                        salesPrice: 250.00
                        costPrice: 200.00
                        group: 1
                      - id: 302
                        sku: "PROD002"
                        barcode: "1234567890124"
                        description: "Standard Product"
                        salesPrice: 150.00
                        costPrice: 120.00
                        group: 1
                filtered_products:
                  summary: Filtered Products
                  description: Get products filtered by description
                  value:
                    success: true
                    data:
                      - id: 301
                        sku: "PROD001"
                        barcode: "1234567890123"
                        description: "Premium Product"
                        salesPrice: 250.00
                        costPrice: 200.00
                        group: 1
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Products
      summary: Create a new product
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
            examples:
              basic_product:
                summary: Basic Product
                description: Create a product with minimal required fields
                value:
                  sku: "PROD001"
                  description: "Basic Product"
                  salesPrice: 100.00
              detailed_product:
                summary: Detailed Product
                description: Create a product with all available fields
                value:
                  sku: "PROD002"
                  barcode: "1234567890124"
                  description: "Premium Product with full specifications"
                  unit: "pcs"
                  unit2: "box"
                  salesPrice: 250.00
                  costPrice: 200.00
                  notes: "High quality premium product"
                  serialNumber: ""
                  collectionOfItems: "N"
                  partialItem: "N"
                  minInventory: 10.0
                  maxInventory: 100.0
                  location: "A1-01"
                  group: 1
                  netweight: 1.2
                  netweightunit: "kg"
                  grossweight: 1.5
                  grossweightunit: "kg"
                  length: 15.8
                  width: 10.5
                  height: 5.2
                  colli_webfreight: 0.0
              electronic_component:
                summary: Electronic Component
                description: Create an electronic component product
                value:
                  sku: "ELEC001"
                  barcode: "5901234567890"
                  description: "Arduino Uno R3 Microcontroller"
                  unit: "pcs"
                  unit2: ""
                  salesPrice: 299.95
                  costPrice: 180.00
                  notes: "Compatible with Arduino IDE"
                  serialNumber: ""
                  collectionOfItems: "N"
                  partialItem: "N"
                  minInventory: 5.0
                  maxInventory: 50.0
                  location: "E1-A5"
                  group: 1
                  netweight: 0.025
                  netweightunit: "kg"
                  grossweight: 0.030
                  grossweightunit: "kg"
                  length: 6.8
                  width: 5.3
                  height: 1.5
                  colli_webfreight: 0.0
              office_supply:
                summary: Office Supply
                description: Create an office supply product
                value:
                  sku: "OFF001"
                  barcode: ""
                  description: "A4 Copy Paper - 500 sheets"
                  unit: "ream"
                  unit2: "box"
                  salesPrice: 45.00
                  costPrice: 32.00
                  notes: "80gsm white paper"
                  serialNumber: ""
                  collectionOfItems: "N"
                  partialItem: "N"
                  minInventory: 20.0
                  maxInventory: 200.0
                  location: "B2-15"
                  group: 2
                  netweight: 2.5
                  netweightunit: "kg"
                  grossweight: 2.8
                  grossweightunit: "kg"
                  length: 21.0
                  width: 29.7
                  height: 5.0
                  colli_webfreight: 0.0
      responses:
        '201':
          description: Product created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Product created successfully"
                  data:
                    $ref: '#/components/schemas/ProductResponse'
        '400':
          description: Bad request - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_sku:
                  summary: Missing SKU
                  value:
                    success: false
                    message: "SKU is required"
                    data: null
                duplicate_sku:
                  summary: Duplicate SKU
                  value:
                    success: false
                    message: "Product with SKU 'PROD001' already exists."
                    data: null
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /products/{id}:
    get:
      tags:
        - Products
      summary: Get a specific product
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Product ID
          example: 301
      responses:
        '200':
          description: Product details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/ProductResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Products
      summary: Update a product
      description: |
        Update an existing product using English field names.
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Product ID
          example: 301
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
            examples:
              update_price:
                summary: Update Price
                value:
                  id: 301
                  salesPrice: 275.00
                  costPrice: 220.00
              update_description:
                summary: Update Description
                value:
                  id: 301
                  description: "Updated Premium Product"
                  notes: "Updated product information"
              update_all:
                summary: Update All Fields
                value:
                  id: 301
                  sku: "PROD001"
                  barcode: "1234567890123"
                  description: "Updated Premium Product"
                  salesPrice: 275.00
                  costPrice: 220.00
                  unit: "pcs"
                  group: 2
                  minInventory: 15.0
                  maxInventory: 150.0
      responses:
        '200':
          description: Product updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Product updated successfully"
                  data:
                    $ref: '#/components/schemas/ProductResponse'
        '400':
          description: Bad request - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Products
      summary: Delete a product
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Product ID
          example: 301
      responses:
        '200':
          description: Product deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Product deleted successfully"
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Cannot delete - product is referenced by other records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Inventory - Warehouses
  /inventory/warehouses/:
    get:
      tags:
        - Inventory
      summary: Get all warehouses
      description: |
        Get all warehouses with optional filtering and sorting. The API accepts both English and Danish field names for backward compatibility.
        
        **English Field Names:**
        - `description` - Warehouse description
        - `number` - Warehouse number
        - `fiscalYear` - Fiscal year
        - `productId` - Product ID for inventory association
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: orderBy
          in: query
          schema:
            type: string
            default: number
            enum: [id, number, description, fiscalYear]
          description: Field to order by
          example: "number"
        - name: orderDirection
          in: query
          schema:
            type: string
            enum: [ASC, DESC]
            default: ASC
          description: Sort direction
        - name: field
          in: query
          schema:
            type: string
            enum: [id, number, description, fiscalYear]
          description: Field to filter by
          example: "description"
        - name: value
          in: query
          schema:
            type: string
          description: Value to filter by
          example: "Main Warehouse"
        - name: productId
          in: query
          schema:
            type: integer
          description: Product ID to associate with warehouse inventory
          example: 301
        - name: inventory
          in: query
          schema:
            type: integer
            default: 1
          description: Inventory number
          example: 1
      responses:
        '200':
          description: List of warehouses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseListResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Inventory
      summary: Create a new warehouse
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWarehouseRequest'
            examples:
              basic_warehouse:
                summary: Basic Warehouse
                description: Create a warehouse with required fields only
                value:
                  description: "Main Warehouse"
                  number: "001"
              detailed_warehouse:
                summary: Detailed Warehouse
                description: Create a warehouse with all available fields
                value:
                  description: "Main Distribution Center"
                  number: "001"
                  fiscalYear: 2025
      responses:
        '201':
          description: Warehouse created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Warehouse created successfully"
                  data:
                    $ref: '#/components/schemas/WarehouseResponse'
        '400':
          description: Bad request - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_description:
                  summary: Missing Description
                  value:
                    success: false
                    message: "Missing required field: description"
                    data: null
                missing_number:
                  summary: Missing Number
                  value:
                    success: false
                    message: "Missing required field: number"
                    data: null
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /inventory/warehouses/{id}:
    get:
      tags:
        - Inventory
      summary: Get a specific warehouse
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Warehouse ID
          example: 1
      responses:
        '200':
          description: Warehouse details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/WarehouseResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Warehouse not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Inventory
      summary: Update a warehouse
      description: |
        Update an existing warehouse using English field names.
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Warehouse ID
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWarehouseRequest'
            examples:
              update_description:
                summary: Update Description
                value:
                  id: 1
                  description: "Updated Main Warehouse"
                  number: "001"
              update_all:
                summary: Update All Fields
                value:
                  id: 1
                  description: "Central Distribution Hub"
                  number: "001"
                  fiscalYear: 2025
      responses:
        '200':
          description: Warehouse updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Warehouse updated successfully"
                  data:
                    $ref: '#/components/schemas/WarehouseResponse'
        '400':
          description: Bad request - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Warehouse not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Inventory - Status
  /inventory/status/:
    get:
      tags:
        - Inventory
      summary: Get inventory status
      description: |
        Get inventory status records with optional filtering and sorting. The API accepts both English and Danish field names for backward compatibility.
        
        **English Field Names:**
        - `inventory` - Warehouse/inventory number
        - `productId` - Product ID
        - `quantity` - Stock quantity
        - `location` - Primary location within warehouse
        - `variantId` - Product variant ID
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: orderBy
          in: query
          schema:
            type: string
            default: id
            enum: [id, inventory, productId, quantity, location, variantId]
          description: Field to order by
        - name: orderDirection
          in: query
          schema:
            type: string
            enum: [ASC, DESC]
            default: ASC
          description: Sort direction
        - name: field
          in: query
          schema:
            type: string
            enum: [id, inventory, productId, quantity, location, variantId]
          description: Field to filter by
          example: "productId"
        - name: value
          in: query
          schema:
            type: string
          description: Value to filter by
          example: "301"
        - name: inventoryNr
          in: query
          schema:
            type: integer
          description: Warehouse/inventory number to filter by
          example: 1
      responses:
        '200':
          description: List of inventory status records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryStatusListResponse'
              examples:
                all_inventory:
                  summary: All Inventory Status
                  description: Get all inventory status records
                  value:
                    success: true
                    data:
                      - id: 1
                        inventory: 1
                        productId: 301
                        quantity: 100.0
                        location: "A1-01"
                        location2: ""
                        location3: ""
                        location4: ""
                        location5: ""
                        variantId: 0
                warehouse_inventory:
                  summary: Warehouse Specific Inventory
                  description: Get inventory for a specific warehouse
                  value:
                    success: true
                    data:
                      - id: 1
                        inventory: 1
                        productId: 301
                        quantity: 50.0
                        location: "A1-01"
                        variantId: 0
                      - id: 2
                        inventory: 1
                        productId: 302
                        quantity: 25.0
                        location: "A1-02"
                        variantId: 0
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Inventory
      summary: Create new inventory status
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInventoryStatusRequest'
            examples:
              basic_inventory:
                summary: Basic Inventory Status
                description: Create an inventory status with required fields only
                value:
                  inventory: 1
                  productId: 301
                  quantity: 100.0
              detailed_inventory:
                summary: Detailed Inventory Status
                description: Create an inventory status with all available fields
                value:
                  inventory: 1
                  productId: 301
                  quantity: 100.0
                  location: "A1-01"
                  location2: "B1-02"
                  variantId: 1
      responses:
        '201':
          description: Inventory status created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Inventory status created successfully"
                  data:
                    $ref: '#/components/schemas/InventoryStatusResponse'
        '400':
          description: Bad request - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_fields:
                  summary: Missing Required Fields
                  value:
                    success: false
                    message: "Inventory, productId, and quantity are required fields."
                    data: null
                duplicate_record:
                  summary: Duplicate Record
                  value:
                    success: false
                    message: "Record with vare_id and lager already exists."
                    data: null
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /inventory/status/{id}:
    get:
      tags:
        - Inventory
      summary: Get specific inventory status
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Inventory status ID
          example: 1
      responses:
        '200':
          description: Inventory status details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/InventoryStatusResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Inventory status not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Inventory
      summary: Update inventory status
      description: |
        Update an existing inventory status record using English field names.
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Inventory status ID
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInventoryStatusRequest'
            examples:
              update_quantity:
                summary: Update Quantity
                value:
                  id: 1
                  quantity: 150.0
              update_location:
                summary: Update Location
                value:
                  id: 1
                  location: "B2-01"
                  location2: "B2-02"
              update_all:
                summary: Update All Fields
                value:
                  id: 1
                  inventory: 1
                  productId: 301
                  quantity: 200.0
                  location: "C3-01"
                  variantId: 2
      responses:
        '200':
          description: Inventory status updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Inventory status updated successfully"
                  data:
                    $ref: '#/components/schemas/InventoryStatusResponse'
        '400':
          description: Bad request - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Inventory status not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - Inventory
      summary: Adjust inventory quantities
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Inventory status ID
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryAdjustmentRequest'
            examples:
              add_stock:
                summary: Add Stock
                description: Add 25 units to current inventory
                value:
                  action: "adjust_quantity"
                  amount: 25.0
              remove_stock:
                summary: Remove Stock  
                description: Remove 10 units from current inventory
                value:
                  action: "adjust_quantity"
                  amount: -10.0
              set_stock:
                summary: Set Absolute Stock
                description: Set inventory to exactly 100 units
                value:
                  action: "set_quantity"
                  quantity: 100.0
      responses:
        '200':
          description: Inventory quantity adjusted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Inventory quantity adjusted successfully"
                  data:
                    $ref: '#/components/schemas/InventoryStatusResponse'
        '400':
          description: Bad request - invalid action or missing parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_action:
                  summary: Invalid Action
                  value:
                    success: false
                    message: "Invalid action specified"
                    data: null
                missing_parameter:
                  summary: Missing Parameter
                  value:
                    success: false
                    message: "Action parameter required for PATCH requests"
                    data: null
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Inventory status not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Product Groups
  /products/groups/:
    get:
      tags:
        - Product Groups
      summary: Get all product groups
      description: |
        Get all product groups with optional filtering and sorting. The API accepts both English and Danish field names for backward compatibility.
        
        **English Field Names:**
        - `codeNo` - Group code number
        - `description` - Group description
        - `fiscalYear` - Fiscal year
        - `reversePayment` - Reverse charge flag
        - `taxFree` - VAT exempt flag
        - `inventory` - Inventory tracked flag
        - `batch` - Batch tracking flag
        - `operation` - Operation flag
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: orderBy
          in: query
          schema:
            type: string
            default: codeNo
            enum: [id, codeNo, description, fiscalYear]
          description: Field to order by
          example: "codeNo"
        - name: orderDirection
          in: query
          schema:
            type: string
            enum: [ASC, DESC]
            default: ASC
          description: Sort direction
        - name: field
          in: query
          schema:
            type: string
            enum: [id, codeNo, description, fiscalYear]
          description: Field to filter by
          example: "description"
        - name: value
          in: query
          schema:
            type: string
          description: Value to filter by
          example: "Electronics"
      responses:
        '200':
          description: List of product groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGroupListResponse'
              examples:
                all_groups:
                  summary: All Product Groups
                  description: Get all product groups with basic information
                  value:
                    success: true
                    data:
                      - id: 1
                        codeNo: 1
                        description: "Electronics"
                        fiscalYear: 2025
                        reversePayment: false
                        taxFree: false
                        inventory: true
                        batch: false
                        operation: false
                        accounts:
                          buyAccount: 
                            id: 1
                            kontonr: "4000"
                            beskrivelse: "Purchase Account"
                          sellAccount:
                            id: 2
                            kontonr: "1000"
                            beskrivelse: "Sales Account"
                          buyEuAccount: null
                          sellEuAccount: null
                          buyOutsideEuAccount: null
                          sellOutsideEuAccount: null
                      - id: 2
                        codeNo: 2
                        description: "Office Supplies"
                        fiscalYear: 2025
                        reversePayment: false
                        taxFree: false
                        inventory: true
                        batch: false
                        operation: false
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Product Groups
      summary: Create a new product group
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductGroupRequest'
            examples:
              basic_group:
                summary: Basic Product Group
                description: Create a product group with minimal required fields
                value:
                  codeNo: 1
                  description: "Electronics"
              detailed_group:
                summary: Detailed Product Group
                description: Create a product group with all available fields
                value:
                  codeNo: 1
                  description: "Electronics & Components"
                  reversePayment: false
                  taxFree: false
                  inventory: true
                  batch: false
                  operation: false
                  buyAccount: "4000"
                  sellAccount: "1000"
                  buyEuAccount: "4010"
                  sellEuAccount: "1010"
                  buyOutsideEuAccount: "4020"
                  sellOutsideEuAccount: "1020"
      responses:
        '201':
          description: Product group created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Product group created successfully"
                  data:
                    $ref: '#/components/schemas/ProductGroupResponse'
        '400':
          description: Bad request - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_codeno:
                  summary: Missing Code Number
                  value:
                    success: false
                    message: "Code number is required"
                    data: null
                missing_description:
                  summary: Missing Description
                  value:
                    success: false
                    message: "Description is required"
                    data: null
                duplicate_codeno:
                  summary: Duplicate Code Number
                  value:
                    success: false
                    message: "Product group with code number '1' already exists"
                    data: null
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /products/groups/{id}:
    get:
      tags:
        - Product Groups
      summary: Get a specific product group
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Product group ID
          example: 1
      responses:
        '200':
          description: Product group details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/ProductGroupResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Product group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Product Groups
      summary: Update a product group
      description: |
        Update an existing product group using English field names.
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Product group ID
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductGroupRequest'
            examples:
              update_description:
                summary: Update Description
                value:
                  id: 1
                  description: "Updated Electronics"
              update_accounts:
                summary: Update Accounts
                value:
                  id: 1
                  description: "Electronics & Components"
                  buyAccount: "4005"
                  sellAccount: "1005"
              update_all:
                summary: Update All Fields
                value:
                  id: 1
                  codeNo: 1
                  description: "Electronics & Components"
                  reversePayment: false
                  taxFree: false
                  inventory: true
                  batch: true
                  operation: false
                  buyAccount: "4000"
                  sellAccount: "1000"
                  buyEuAccount: "4010"
                  sellEuAccount: "1010"
                  buyOutsideEuAccount: "4020"
                  sellOutsideEuAccount: "1020"
      responses:
        '200':
          description: Product group updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Product group updated successfully"
                  data:
                    $ref: '#/components/schemas/ProductGroupResponse'
        '400':
          description: Bad request - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Product group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Product Groups
      summary: Delete a product group
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Product group ID
          example: 1
      responses:
        '200':
          description: Product group deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Product group deleted successfully"
        '400':
          description: Bad request - group may be referenced by products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                group_in_use:
                  summary: Group In Use
                  value:
                    success: false
                    message: "Cannot delete product group as it is referenced by existing products"
                    data: null
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Product group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Accounts Management
  /accounts/:
    get:
      tags:
        - Accounts
      summary: Get all accounts
      description: |
        Get all accounts with optional filtering and sorting. The API accepts both English and Danish field names for backward compatibility.
        
        **English Field Names:**
        - `accountNumber` - Account number
        - `description` - Account description
        - `accountType` - Account type
        - `vat` - VAT code
        - `fromAccount` - From account
        - `toAccount` - To account
        - `closed` - Closed status
        - `openingBalance` - Opening balance
        - `balance` - Current balance
        - `shortcut` - Account shortcut
        - `transferTo` - Transfer to account
        - `usage` - Account usage description
        - `contraAccount` - Contra account
        - `currency` - Currency ID
        - `exchangeRate` - Exchange rate
        - `mapTo` - Map to account
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: orderBy
          in: query
          schema:
            type: string
            default: accountNumber
            enum: [id, accountNumber, description, accountType, vat, closed, balance]
          description: Field to order by
          example: "accountNumber"
        - name: orderDirection
          in: query
          schema:
            type: string
            enum: [ASC, DESC]
            default: ASC
          description: Sort direction
        - name: field
          in: query
          schema:
            type: string
            enum: [id, accountNumber, description, accountType, vat, closed, balance]
          description: Field to filter by
          example: "description"
        - name: value
          in: query
          schema:
            type: string
          description: Value to filter by
          example: "Cash"
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
            minimum: 1
          description: Maximum number of accounts to return
          example: 20
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
              examples:
                all_accounts:
                  summary: All Accounts
                  description: Get all accounts with basic information
                  value:
                    success: true
                    data:
                      - id: 1
                        accountNumber: "1000"
                        description: "Cash in bank"
                        accountType: "A"
                        vat: "A25"
                        closed: "N"
                        openingBalance: 0.0
                        balance: 5000.0
                        shortcut: ""
                        usage: "General"
                      - id: 2
                        accountNumber: "4000"
                        description: "Purchase Account"
                        accountType: "E"
                        vat: "A25"
                        closed: "N"
                        openingBalance: 0.0
                        balance: -15000.0
                        shortcut: ""
                        usage: "Purchases"
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Accounts
      summary: Create a new account
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
            examples:
              basic_account:
                summary: Basic Account
                description: Create an account with minimal required fields
                value:
                  accountNumber: "1500"
                  description: "Petty Cash"
              detailed_account:
                summary: Detailed Account
                description: Create an account with all available fields
                value:
                  accountNumber: "1500"
                  description: "Petty Cash Account"
                  accountType: "A"
                  vat: "A25"
                  fromAccount: 0
                  toAccount: 0
                  closed: "N"
                  openingBalance: 1000.0
                  balance: 1000.0
                  shortcut: "PC"
                  transferTo: 0
                  usage: "Daily cash operations"
                  contraAccount: 0
                  currency: 0
                  exchangeRate: 0.0
                  mapTo: 0
      responses:
        '201':
          description: Account created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Account created successfully"
                  data:
                    $ref: '#/components/schemas/AccountResponse'
        '400':
          description: Bad request - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_account_number:
                  summary: Missing Account Number
                  value:
                    success: false
                    message: "Account number and description are required"
                    data: null
                duplicate_account:
                  summary: Duplicate Account
                  value:
                    success: false
                    message: "Account with number '1500' already exists"
                    data: null
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /accounts/{id}:
    get:
      tags:
        - Accounts
      summary: Get a specific account
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Account ID
          example: 1
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/AccountResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Accounts
      summary: Update an account
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Account ID
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
            examples:
              update_description:
                summary: Update Description
                value:
                  id: 1
                  description: "Updated Cash Account"
              update_balance:
                summary: Update Balance
                value:
                  id: 1
                  balance: 7500.0
                  usage: "Updated usage description"
              update_all:
                summary: Update All Fields
                value:
                  id: 1
                  accountNumber: "1000"
                  description: "Main Cash Account"
                  accountType: "A"
                  vat: "A25"
                  closed: "N"
                  openingBalance: 0.0
                  balance: 7500.0
                  shortcut: "MCA"
                  usage: "Primary cash operations"
                  contraAccount: 0
                  currency: 0
                  exchangeRate: 0.0
      responses:
        '200':
          description: Account updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Account updated successfully"
                  data:
                    $ref: '#/components/schemas/AccountResponse'
        '400':
          description: Bad request - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Currencies Management (Read-only)
  /currencies/:
    get:
      tags:
        - Currencies
      summary: Get all currencies
      description: |
        Get all currencies with optional filtering and sorting. This is a read-only endpoint.
        
        **English Field Names:**
        - `description` - Currency description
        - `currencyCode` - Currency code (3-letter code like USD, EUR, DKK)
        - `exchangeRate` - Exchange rate against the base currency
      parameters:
        - $ref: '#/components/parameters/DatabaseHeader'
        - $ref: '#/components/parameters/UserHeader'
        - $ref: '#/components/parameters/ApiKeyHeader'
        - name: orderBy
          in: query
          schema:
            type: string
            default: description
            enum: [id, description, currencyCode, exchangeRate]
          description: Field to order by
          example: "description"
        - name: orderDirection
          in: query
          schema:
            type: string
            enum: [ASC, DESC]
            default: ASC
          description: Sort direction
        - name: field
          in: query
          schema:
            type: string
            enum: [id, description, currencyCode, exchangeRate]
          description: Field to filter by
          example: "description"
        - name: value
          in: query
          schema:
            type: string
          description: Value to filter by
          example: "Danish Krone"
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
            minimum: 1
          description: Maximum number of currencies to return
          example: 20
      responses:
        '200':
          description: List of currencies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyListResponse'
              examples:
                all_currencies:
                  summary: All Currencies
                  description: Get all currencies with basic information
                  value:
                    success: true
                    data:
                      - description: "Danish Krone"
                        currencyCode: "DKK"
                        exchangeRate: 1.0
                      - description: "Euro"
                        currencyCode: "EUR"
                        exchangeRate: 0.85
                      - description: "US Dollar"
                        currencyCode: "USD"
                        exchangeRate: 1.1
                      - description: "British Pound"
                        currencyCode: "GBP"
                        exchangeRate: 0.75
                filtered_currencies:
                  summary: Filtered Currencies
                  description: Get currencies filtered by description
                  value:
                    success: true
                    data:
                      - description: "Danish Krone"
                        currencyCode: "DKK"
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /currencies/{id}:
    get:
[...]
