*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 218px; /*218 minimum hvis submenu-pilene skal stå lige*/
    background-color: #1f9eed;
    z-index: 100;
    transition: all 0.5s ease;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.sidebar.closed {
    width: 72px;
}

.sidebar .logo {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px 12px 1em 12px;
    transform: translateX(+15px);
    cursor: pointer;
}

.sidebar .logo i {
    font-size: 25px;
    /*position: absolute;*/
    top: 0;
    right: 0;
    transform: translateX(24px) rotate(0deg);
    transition: 0.5s ease;
    color: #fff;
}

.sidebar.closed .logo i {
    transform: translateX(-128px) rotate(180deg);
}

.sidebar .logo-img {
    width: 125px;
    height: auto;
    transition: 0.3s ease;
}

.sidebar.closed .logo .logo-img {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    background: #1f9eed;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sidebar.closed .nav-links, .sidebar.closed {
    overflow: visible !important;
}

.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #47b7fc;
}

.sidebar .nav-links li .icon_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.closed .nav-links li .icon_link {
    display: block;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 60px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li a i {
    padding-left: 10px;
    line-height: 50px;
}

.sidebar.closed .nav-links li i.arrow {
    display: none;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar .nav-links li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
}

.sidebar.closed .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 0px 14px 40px;
    margin-top: -10px;
    background: #47b7fc;
    display: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a, .sidebar .nav-links li .sub-menu span {
    color: #fff;
    font-size: 17px;
    padding: 5px 20px;
    white-space: nowrap;
    opacity: 1;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu span {
	cursor: default;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 0.6;
}

.sidebar.closed .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    z-index: 100;
}

.sidebar.closed .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    transition: all 0.4s ease;
    pointer-events: auto;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.closed .nav-links li .sub-menu .link_name {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 0;
    pointer-events: none;
    padding: 6px 20px 6px 16px;
    height: 50px;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.home-section {
    position: fixed;
    top: 0;
    background: #E4E9F7;
    height: 100vh;
    left: 218px;
    width: calc(100% - 218px);
    transition: all 0.5s ease;
}

.sidebar.closed ~ .home-section{
    left: 72px;
    width: calc(100% - 72px);
}

.home-section .home-content {
    height: 100%;
    display: flex;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text{
    color: #11101D;
    font-size: 35px;
    cursor: pointer;
}

.home-section .home-content .bx-menu{
    margin: 0 15px;
}

.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
}

.icon_link {
	cursor: pointer;
}

.closed .icon_link {
	cursor: unset !important;
}

.submenu li:nth-child(1) a {
	cursor: default !important;
}

:not(.closed) .icon_link *, :not(.closed) .icon_link > * {
	pointer-events: none;
}

#iframe_a {
	width: 100%;
	height: 100%;
	border: none;
}
